<h1>Editing friend</h1>

<%= render "form", friend: @friend %>

<br>

<div class="d-flex">
  <%= link_to "Show this friend", @friend, class:"btn btn-secondary me-2" %> 
  <%= link_to 'Delete', @friend, method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger me-2" %>
  <%= link_to "Back to friends", friends_path, class:"btn btn-secondary" %>
</div>
